!! terminal colours
*foreground:#CCCCCC
*background:#1B1D1E

!black darkgray
*color0:    #1B1D1E
*color8:    #808080
!darkred red
*color1:    #FF0044
*color9:    #F92672
!darkgreen green
*color2:    #82B414
*color10:   #A6E22E
!darkyellow yellow
*color3:    #FD971F
*color11:   #E6DB74
!darkblue blue
*color4:    #266C98
*color12:   #7070F0
!darkmagenta magenta
*color5:    #AC0CB1
*color13:   #D63AE1
!darkcyan cyan
*color6:    #AE81FF
*color14:   #66D9EF
!gray white
*color7:    #CCCCCC
*color15:   #F8F8F2


!! Make urxvt prettier
URxvt*font:             xft:Inconsolata for Powerline:pixelsize=16
URxvt*scrollBar:        false
URxvt*scrollColor:      S_base01
URxvt*title:            terminal
URxvt*termName:         rxvt-unicode-256color
URxvt*visualBell:       true
URxvt*depth:            32
URxvt*background:       rgba:0000/0000/0200/d800

!! font rendering
Xft*antialias:          true
Xft*hinting:            full

!! Usability improvements
URxvt.visualBall:       true
URxvt.loginShell:       true
URxvt.saveLines:        10000

!! Scroll to the bottom on non-special keypress, but not because new output is ready
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput:  false

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Étienne Deparis
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:      argb:00272822, #f8f8f2, argb:00272822, #141411, #f8f8f2
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:      argb:00272822, #f92672, argb:00272822, #f92672, #f8f8f2
! "Color scheme for active row" Set from: File
rofi.color-active:      argb:00272822, #a6e22a, argb:00272822, #141411, #a6e22a
! "Color scheme window" Set from: File
rofi.color-window:      argb:ee272822, #002b36, #e6db74
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:   solid

rofi.fake-transparency: true
rofi.lines:             3
rofi.bw:                0
rofi.opacity:           "10"
rofi.hide-scrollbar:    true
rofi.width:             30
